* {
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    display: block;
    
}
  
  .menu-button {
    position: fixed;
    top: 0;
    right: 0;
    background:  rgba(236, 227, 238, 0.16);
    color: rgba(104,40,90,255);
    border: none;
    padding: 0.5rem 1rem 0.5rem 0;
    z-index: 1;
  }
  
  .menu-button:hover {
    color: black;
  }
  
  .menu-cross-button {
    position: fixed;
    top: 0;
    right: 0;
    background-color:  rgba(236, 227, 238, 0.16);
    color: rgba(104,40,90,255);
    padding: 0.5rem;
    border: none;
  }

  .menu-cross-button:hover {
    color: black;
  }
  
  .menu-list{
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    z-index: 100;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background: rgb(236, 227, 238);
    font-family: 'Overlock', cursive;

  }
  
  .menu-item {
    margin: 1rem;
    padding-bottom: 0.5rem;
  }
  
  .menu-link {
    color: rgba(104,40,90,255);
    font-size: larger;
    text-decoration: none;
  }
  
  .menu-link:hover {
    color: white;
  }
  
  .menu-icon {
    padding: 0 1rem;
  }
  
  .menu-icon:hover {
    color: white;
  }

  @media only screen and (min-width: 576px) {
    .dropdown-menu {
        display: none;
    }
  };
    
    