.hero {
  position: fixed;
  top: 50px;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: 'Overlock SC', cursive;
  color: #521a54;
}

.hero h1 {
  font-size: 50px;
}

.hero h2 {
  font-size: 35px;
}

.hero h3 {
  font-size: 30px;
}

.hero h4 {
  font-size: 25px;
}

.hero h5 {
  font-size: 20px;
  font-family: 'Overlock', cursive;
}