.hero {
  position: fixed;
  top: 70px;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(hero.png);
}

.hero h1, .hero h2 {
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
}

.hero h2 {
  font-size: 40px;
}

.hero h4 {
  font-size: 30px;
}