.about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
}

.about-title {
    text-align: center;
    margin: 10px;
}

.about-subtitle {
    text-align: center;
    margin: 10px;
}

.about-container p {
    margin: 10px 40px;
}