.about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Overlock", cursive;
    color: #521a54;
    background-color: rgba(236, 227, 238, 0.16);
    align-items: center;
    padding-bottom: 90px;
}

.about-title {
    text-align: center;
    margin-top: 80px;
}

.about-subtitle {
    text-align: center;
    margin: 10px;
}

.about-container p {
    margin: 10px 40px;
    font-size: 20px;
    text-align: justify;
    font-weight: 600;
    width: 75%;
    text-align: justify;
    align-items: center;

}

