.container-with-title {
  display: flex;
  flex-direction: column;
  background-image: url("/public/images/white-bricks.png");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  font-family: "Overlock", cursive;
  color: #521a54;
}

.contact-title {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 50px;
} 


.contact-subtitle {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 30px;
} 

.main-contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.contact-container h4 {
  font-size: 30px;
  margin: 20px 40px;
}

.contact-container a {
  text-decoration: none;
  color: #521a54;
}

.contact-container a:hover {
  color: rgb(191, 159, 188);
}

/* ************************* */
@media only screen and (max-width: 575px) {
  .contact-title {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 45px;
  } 
  
  .contact-subtitle {
    text-align: center;
    font-size: 25px;
    padding: 20px;
  } 
  
  .contact-container h4 {
    font-size: 25px;
  }
};
  