.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: black;
    background-color: rgba(236, 227, 238, 0.16);
}

.projects-title {
    text-align: center;
    margin: 10px;
    margin-top: 80px;
    font-family: 'Delius Swash Caps', cursive;
    font-size: 60px;
    color: rgb(110,62,127);
}