.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;  
  text-decoration: none;
  height: 70px;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  color: red;
  cursor: pointer;
}