.navbar-container {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  font-size: 20px;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  background-color: rgb(39,4,32);
  font-family: 'Delius Swash Caps', cursive;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  color: white;

}

.nav-link:hover {
  cursor: pointer;
  color:rgb(191,159,188);
}

@media only screen and (max-width: 575px) {
  .navbar-container {
      visibility: hidden;
  }

};
  

@media only screen and (min-width: 576px) {
  .navbar-container {
     visibility: visible;
  }
};
  