.footer {
  min-height: 70px;
  background: rgba(86,27,79,255);
  position: relative;
  z-index: 2;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: rgba(86,27,79,255);
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  background-color: rgba(86,27,79,255);
}

.footer-container a {
  color: white;
  margin-top: 20px;
}


.footer-container a:hover {
  color: rgb(191,159,188);
}